/*1159*/
.slides {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}


/*1163*/
ul.slides li {
    border: none;
    padding: 0;
    margin-bottom: 0;
    position: relative;
}

/*1167*/
.flexslider {
margin: 0;
padding: 0;
}
/*1169*/
.flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden;
}
/*1171*/
.flexslider .slides>li:first-child {
    display: block;
    -webkit-backface-visibility: visible;
}

/*1179*/
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/*1188*/
.flexslider {
position: relative;
zoom: 1;
clear: both;
overflow: hidden;
}
/*1197*/
.flexslider .slides {
    zoom: 1;
}
/*1198*/
.flexslider .slides li {
    text-align: center;
}
/*1201*/
.flex-caption {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 25%;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
/*1207*/
.flexslider .headline {
    font-size: 5rem;
    margin-bottom: 0.2em;
    line-height: 1;
    font-weight: normal;

}

/*1211*/
.flexslider p.subtitle {
    font-size: 1.5rem;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    margin-bottom: 2rem;
}


/*2897*/
.flexslider .slide {
    background-size: contain;
    display: block;
    padding-top: 35%;
    background-color: #333;
}
/*2901*/
.flexslider .slide1 {
	/*background-image: url(images/MainPicture.jpg);*/
}

/*4834*/
img {
	max-width: 100%;
	height: auto;
}


/*4920*/
.flexslider  {
    font-size: 1.5rem;
    text-transform: lowercase;
}

/*4922*/
.flexslider {
    font-size: 4rem;
    margin-left: -2px;
    margin-bottom: 0.5em;
}



.flexslider .slide {
    padding-top: 66%;
    background-size: cover;
    background-position: center;

}





.FrameContainer{

	width:100%;
	height:83vh;
	
}

.slide-toggle {
    overflow: hidden;
    transition: all 0.25s;
}

