<html> 
<meta charset="utf-8"/> 
<head> 

</head> 
<body> 
    <div id="homepage_slider" class="flexslider"> 
        <ul class="slides"> 
            <li> 
                <a class="slide slide1" href="#" style="background: #5383D1"> 
                    <div class="flex-caption"> 
                        <div class="container"> 
                            <div class="align_center"> 
                                
                            </div> 
                        </div> 
                    </div> 
                </a> 
            </li> 
        </ul> 
    </div> 
</body>
</html>
