<html> 
<meta charset="utf-8"/> 
<head> 
    <style>
		.flexslider .slide1{
			-webkit-border-radius: 250px;
			-moz-border-radius: 250px;
			border-radius: 250px;			
		}
	</style>
</head> 
<body> 
    <div id="homepage_slider" class="flexslider"> 
        <ul class="slides"> 
            <li> 
                <a class="slide slide1" href="#"> 
                    <div class="flex-caption"> 
                        <div class="container"> 
                            <div class="align_center"> 
                                
                            </div> 
                        </div> 
                    </div> 
                </a> 
            </li> 
        </ul> 
    </div> 
</body>
</html>
