<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style="font-family: 'Source Sans Pro',sans-serif;text-transform: initial; font-weight: 500;">
           Manage
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="main"> <i class="glyphicon glyphicon-home"></i>Home</a></li>
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active"><i class="glyphicon glyphicon-cog"></i> Manage</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-warning" id="SearchBox">
            <div class="box-header with-border">
                <h3 class="box-title" style="font-family: 'Source Sans Pro',sans-serif;text-transform: initial; font-weight: 200;">Search</h3>
                <div class="box-tools pull-right">
                    <button  ng-click="Search=!Search" class="btn btn-box-tool" ><i ng-class="{'fa fa-minus': Search, 'fa fa-plus': !Search}"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div ng-show="Search" class="box-body slide-toggle" >
                <div class="row">
                    <div class="col-md-12">
                        <form name="searchForm" ng-submit="search()">

                            <div class="form-group">
                                <label>Category</label>
                                <input type="text" name="category" class="form-control" placeholder="Enter category" ng-model="searchCreteria.msgName">
                            </div><!-- /.form-group -->
                            <p>Selected: {{searchCreteria.msgName}}</p>
                            <div class="form-group">
                                <label>Screens</label>
                                <ui-select multiple ng-model="searchCreteria.screensId" theme="bootstrap" ng-disabled="disabled"
                                           close-on-select="false">
                                    <ui-select-match placeholder="Select Screen...">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="screen in ['1','2','3'] | filter:$select.search">
                                        Screen {{screen}}
                                    </ui-select-choices>
                                </ui-select>
                                <p>Selected: {{searchCreteria.screensId}}</p>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label>Template</label>
                                <ui-select multiple ng-model="searchCreteria.linkTemplate" theme="bootstrap" ng-disabled="disabled "
                                           close-on-select="false">
                                    <ui-select-match placeholder="Select Template...">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="template in ['1','2','3'] | filter:$select.search">
                                        Template {{template}}
                                    </ui-select-choices>
                                </ui-select>
                                <p>Selected: {{searchCreteria.linkTemplate}}</p>
                            </div>

                            <div style="height:30px"></div>
                            <button type="submit" class="btn btn-primary" ng-disabled="searchForm.$pristine">
                                <i class="fa fa-spinner fa-pulse" ng-show="changeSearchButton"></i> Search
                            </button>
                        </form>

                    </div>
                </div>
                <!-- Search Results -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-box-large" ng-hide="!searchResults || collapse.search">
                            <div class="panel-body">
                                <div id="search-results" scroll-if="searchResults">
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Screens</th>
                                            <th>Template</th>
                                            <th>Duration</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="result in searchResults">
                                            <td>{{result.msgName}}</td>
                                            <td>{{result.screensId}}</td>
                                            <td>{{result.linkTemplate}}</td>
                                            <td>{{result.duration}}</td>
                                            <td>{{result.startDateTime}}</td>
                                            <td>{{result.endDateTime}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

        </div>
        <div class="box box-warning" id="EditBox">
            <div class="box-header with-border">
                <h3 class="box-title" style="font-family: 'Source Sans Pro',sans-serif;text-transform: initial; font-weight: 200;">Edit</h3>
                <div class="box-tools pull-right">
                    <button  ng-click="Edit=!Edit" class="btn btn-box-tool" ><i ng-class="{'fa fa-minus': Edit, 'fa fa-plus': !Edit}"></i></button>
                </div>
            </div><!-- /.box-header -->
            <form role="form">
                <div ng-show="Edit" class="box-body slide-toggle" >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Minimal</label>
                                <select class="form-control select2" style="width: 100%;">
                                    <option selected="selected">Alabama</option>
                                    <option>screen 1</option>
                                    <option>screen 2</option>
                                    <option>screen 3</option>
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <label>Disabled</label>
                                <select class="form-control select2" disabled="disabled" style="width: 100%;">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label for="msgData">Advertise Data</label>
                                <input type="text" class="form-control" id="msgData" placeholder="Enter the content of your advertise">
                            </div>
                            <div class="form-group">
                                <label for="imageInput">Image input</label>
                                <input id="imageInput" type="file" name="files[]" data-url="/upload" multiple>

                            </div>
                            <div class="box-footer">
                                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div><!-- /.box-body -->
            </form>
        </div>
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-warning" >
            <div class="box-header with-border">
                <h3 class="box-title" style="font-family: 'Source Sans Pro',sans-serif;text-transform: initial; font-weight: 200;">Create</h3>
                <div class="box-tools pull-right">
                    <button  ng-click="Create=!Create" class="btn btn-box-tool" ><i ng-class="{'fa fa-minus': Create, 'fa fa-plus': !Create}"></i></button>
                </div>
            </div><!-- /.box-header -->
            <form role="form">
                <div ng-show="Create" class="box-body slide-toggle" id="CreateBox">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Minimal</label>
                                <select class="form-control select2" style="width: 100%;">
                                    <option selected="selected">Alabama</option>
                                    <option>screen 1</option>
                                    <option>screen 2</option>
                                    <option>screen 3</option>
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <label>Disabled</label>
                                <select class="form-control select2" disabled="disabled" style="width: 100%;">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label for="msgData">Advertise Data</label>
                                <input type="text" class="form-control" id="msgData" placeholder="Enter the content of your advertise">
                            </div>
                            <div class="form-group">
                                <label for="imageInput">Image input</label>
                                <input id="imageInput" type="file" name="files[]" data-url="/upload" multiple>

                            </div>
                            <div class="box-footer">
                                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div><!-- /.box-body -->
            </form>

        </div><!-- /.box -->



    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
