<div class="content-wrapper" >
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style="font-family: 'Source Sans Pro',sans-serif;text-transform: initial; font-weight: 500;">
           Manage
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="main"> <i class="glyphicon glyphicon-home"></i>Home</a></li>
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active"><i class="glyphicon glyphicon-cog"></i> Manage</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-warning" id="SearchBox">
            <div class="box-header with-border" ng-click="Search = !Search" style="cursor: pointer;">
                <h3 class="box-title" style="font-family: 'Source Sans Pro',sans-serif;text-transform: initial; font-weight: 200;">Search</h3>
                <div class="box-tools pull-right">
                    <button  class="btn btn-box-tool" ><i ng-class="{'fa fa-minus': Search, 'fa fa-plus': !Search}"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div ng-show="Search" class="box-body slide-toggle" >
                <div class="row">
                    <div class="col-md-12">
                        <form name="searchForm" ng-submit="search()">

                            <div class="form-group">
                                <label>Message Name</label>
                                <input type="text" name="category" class="form-control" placeholder="Enter category" ng-model="searchCreteria.msgName">
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <label>Screens</label>
                                <ui-select multiple ng-model="searchCreteria.screensId" theme="bootstrap" ng-disabled="disabled"
                                           close-on-select="false">
                                    <ui-select-match placeholder="Select Screen...">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="screen in ['1','2','3'] | filter:$select.search">
                                        Screen {{screen}}
                                    </ui-select-choices>
                                </ui-select>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label>Template</label>
                                <ui-select multiple ng-model="searchCreteria.templateName" theme="bootstrap" ng-disabled="disabled "
                                           close-on-select="false">
                                    <ui-select-match placeholder="Select Template...">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="template in ['A','B','C'] | filter:$select.search">
                                        Template {{template}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div style="height:30px"></div>
                            <button type="submit" class="btn btn-primary" ng-disabled="searchForm.$pristine">
                                <i class="fa fa-spinner fa-pulse" ng-show="changeSearchButton"></i> Search
                            </button>
                        </form>

                    </div>
                </div>
                <!-- Search Results -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-box-large" ng-show="findresult === 'foundresults' && Search">
                            <div class="panel-body">
                                <div id="search-results" scroll-if="findresult === 'foundresults'">
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Screens</th>
                                            <th>Template</th>
                                            <th>Duration</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="result in searchResults">
                                            <td>{{result.msgName}}</td>
                                            <td>{{result.screensId}}</td>
                                            <td>{{result.linkTemplate}}</td>
                                            <td>{{result.duration}}</td>
                                            <td>{{result.startDateTime}}</td>
                                            <td>{{result.endDateTime}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-large" ng-show="findresult === 'notfoundresults'">
                            <div id="search-no-results">
                                <div id="">No results found!</div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>



        <div class="box box-warning" id="EditBox" >
            <div class="box-header with-border" ng-click="Edit = !Edit" style="cursor: pointer;" >
                <h3 class="box-title" style="font-family: 'Source Sans Pro',sans-serif;text-transform: initial; font-weight: 200;">Manage</h3>
                <div class="box-tools pull-right">
                    <button  class="btn btn-box-tool" ><i ng-class="{'fa fa-minus': Edit, 'fa fa-plus': !Edit}"></i></button>
                </div>
            </div><!-- /.box-header -->

            <div ng-show="Edit" class="box-body slide-toggle" ng-init="AllAdvertsInit()">
                <div class="row">
                    <div class="col-md-12">
                        <form name="updateForm" role="form" ng-submit="update(updateForm.$valid)" ng-show="existingAd.edit">

                            <div class="alert alert-danger" ng-hide="valid">
                                <button class="close" data-close="alert"></button>
                                <div ng-repeat="error in ValidationError">
                                    {{error.name}} on {{error.path}}: {{error.message}}
                                </div>
                            </div>

                            <div class="form-group has-feedback"
                                 ng-class="{ 'has-error' : (updateForm.msgName.$invalid && !updateForm.msgName.$pristine)
                                  , 'has-success': (updateForm.msgName.$valid && !updateForm.msgName.$pristine)}">
                                <label>Message Name</label>
                                <input type="text" name="msgName" class="form-control" placeholder="Enter Message Name" required=""
                                       ng-model="existingAd.msgName" ng-pattern="/^[a-zA-Z0-9- ]*$/">
                                <span class="glyphicon form-control-feedback" ng-class="{
                                    'glyphicon-ok':  (updateForm.msgName.$valid && !updateForm.msgName.$pristine),
                                    'glyphicon-remove':  (updateForm.msgName.$invalid && !updateForm.msgName.$pristine)}">

                                </span>
                                <span style="color:red" ng-show="updateForm.msgName.$dirty && updateForm.msgName.$invalid">
                                    <span ng-show="updateForm.msgName.$error.required">Message Name is required.</span>
                                    <span ng-show="updateForm.msgName.$error.pattern">Do not use special character on Message Name please.</span>
                                </span>
                            </div>

                            <!--<div class="form-group has-feedback"
                                 ng-class="{ 'has-error' : (updateForm.msgData.$invalid && !updateForm.msgData.$pristine)
                                  , 'has-success': (updateForm.msgData.$valid && !updateForm.msgData.$pristine)}">
                                <label>Message Data</label>
                                <input name="msgData" type="text" ng-model="existingAd.msgData" class="form-control"
                                       placeholder="Enter Message Data" ng-model='msgData' ng-minlength="1"
                                       ng-maxlength="100">
                                <span class="glyphicon form-control-feedback" ng-class="{
                                    'glyphicon-ok':  (updateForm.msgData.$valid && !updateForm.msgData.$pristine),
                                    'glyphicon-remove':  (updateForm.msgData.$invalid && !updateForm.msgData.$pristine)}">

                                </span>
                                <span style="color:red" ng-show="updateForm.msgData.$dirty && updateForm.msgData.$invalid">
                                    <span ng-show="updateForm.msgData.$error.maxlength">Message Data can't be over of 100 characters.</span>
                                </span>
                            </div>-->

                            <div class="form-group">
                                <label>Message Data</label>
                                <button class="btn-xs btn-primary" type="button" ng-click="addEditMsgDataInput()">add</button>
                                <button class="btn-xs btn-primary" type="button" ng-click="removeEditMsgDataInput()">remove</button>

                                <div  class="form-group has-feedback" ng-repeat="msgdata in existingAd.itrData"
                                     ng-class="{ 'has-error' : (updateForm.{{msgdata.name}}.$invalid && !updateForm.{{msgdata.name}}.$pristine)
                                  , 'has-success': (updateForm.{{msgdata.name}}.$valid && !updateForm.{{msgdata.name}}.$pristine)}">


                                    <!--<input name="msgData" type="text" ng-model="newAd.msgData" class="form-control"
                                           placeholder="Enter Message Data" ng-model='msgData' ng-minlength="1"
                                           ng-maxlength="100">-->
                                    <input name="{{msgdata.name}}" type="text" class="form-control"
                                           placeholder="Enter Message Data" ng-model='msgdata.msgdata'
                                           ng-maxlength="100">
                                <span class="glyphicon form-control-feedback" ng-class="{
                                    'glyphicon-ok':  (updateForm.{{msgdata.name}}.$valid && !updateForm.{{msgdata.name}}.$pristine),
                                    'glyphicon-remove':  (updateForm.{{msgdata.name}}.$invalid && !updateForm.{{msgdata.name}}.$pristine)}">

                                </span>
                                <span style="color:red" ng-show="updateForm.{{msgdata.name}}.$dirty && updateForm.{{msgdata.name}}.$invalid">
                                    <span ng-show="updateForm.{{msgdata.name}}.$error.maxlength">Message Data can't be over of 100 characters.</span>
                                </span>
                                </div>
                            </div>

                            <div class="form-group has-feedback"
                                 ng-class="{ 'has-error' : (updateForm.duration.$invalid && !updateForm.duration.$pristine)
                                  , 'has-success': (updateForm.duration.$valid && !updateForm.duration.$pristine)}">
                                <label>Duration</label>
                                <input name="duration" type="text" class="form-control"
                                       placeholder="Enter duration in seconds" required="" ng-model="existingAd.advTimer"
                                       ng-pattern="/^[0-9]*$/">
                                <span class="glyphicon form-control-feedback" ng-class="{
                                    'glyphicon-ok':  (updateForm.duration.$valid && !updateForm.duration.$pristine),
                                    'glyphicon-remove':  (updateForm.duration.$invalid && !updateForm.duration.$pristine)}">
                                </span>
                                <span style="color:red" ng-show="updateForm.duration.$dirty && updateForm.duration.$invalid">
                                    <span ng-show="updateForm.duration.$error.required">Duration is required.</span>
                                    <span ng-show="updateForm.duration.$error.pattern">Duration must be a number</span>
                                </span>
                            </div>

                            <div class="form-group"
                                 ng-class="{ 'has-error' : (!DateTimeIsValid && DateTimeIsChosen)
                                  , 'has-success': (DateTimeIsValid && DateTimeIsChosen)}">
                                <div class="row">

                                    <div class="col-md-6">
                                        <label>Start Time</label>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" id="start-dropdown-update" role="button" data-toggle="dropdown" data-target="#"
                                               href="#">
                                                <div class="input-group">

                                                    <input type="text" class="form-control" data-ng-model="existingAd.startDateTime" name="startDateTime"
                                                           placeholder="Enter start date and time" required="" >
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>

                                                </div>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="existingAd.startDateTime"
                                                                data-datetimepicker-config="{ dropdownSelector: '#start-dropdown-update' ,minuteStep: 2}"
                                                                data-on-set-time="onTimeSet()"
                                                />
                                            </ul>
                                        </div>
                                        <span style="color:red" ng-show="(!DateTimeIsValid && DateTimeIsChosen)">
                                            <span>Check again if the range is valid.</span>
                                        </span>
                                    </div>

                                    <div class="col-md-6">
                                        <label>End Time</label>

                                        <div class="dropdown">
                                            <a class="dropdown-toggle" id="end-dropdown-update" role="button" data-toggle="dropdown" data-target="#"
                                               href="#">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-ng-model="existingAd.endDateTime" name="endDateTime"
                                                           placeholder="Enter end date and time" required=""><span
                                                        class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="existingAd.endDateTime"
                                                                data-datetimepicker-config="{ dropdownSelector: '#end-dropdown-update' ,minuteStep: 2}"
                                                                data-on-set-time="onTimeSet()"/>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group has-feedback"
                                 ng-class="{ 'has-error' : (updateForm.days.$invalid && !updateForm.days.$pristine)
                                  , 'has-success': (updateForm.days.$valid && !updateForm.days.$pristine)}">
                                <label>Week Days</label>
                                <ui-select name="days" multiple ng-model="existingAd.weekDays" theme="bootstrap" required=""
                                           close-on-select="false" ui-select-required>
                                    <ui-select-match>{{$item}}</ui-select-match>
                                    <ui-select-choices
                                            repeat="day in ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'] | filter:$select.search">
                                        {{day}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="glyphicon form-control-feedback" ng-class="{
                                    'glyphicon-ok':  (updateForm.days.$valid && !updateForm.days.$pristine),
                                    'glyphicon-remove':  (updateForm.days.$invalid && !updateForm.days.$pristine)}">
                                </span>
                                <span style="color:red" ng-show="updateForm.days.$dirty && updateForm.days.$invalid">
                                    <span>Days are required.</span>
                                </span>
                            </div>

                            <div class="form-group has-feedback"
                                 ng-class="{ 'has-error' : (updateForm.screens.$invalid && !updateForm.screens.$pristine)
                                  , 'has-success': (updateForm.screens.$valid && !updateForm.screens.$pristine)}">
                                <label>Screens</label>
                                <ui-select name="screens" multiple ng-model="existingAd.screensId" theme="bootstrap" required=""
                                           close-on-select="false" ui-select-required>
                                    <ui-select-match>{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="screen in [1,2,3] | filter:$select.search">
                                        Screen {{screen}}
                                    </ui-select-choices>
                                </ui-select>

                                <span class="glyphicon form-control-feedback" ng-class="{
                                    'glyphicon-ok':  (updateForm.screens.$valid && !updateForm.screens.$pristine),
                                    'glyphicon-remove':  (updateForm.screens.$invalid && !updateForm.screens.$pristine)}">
                                </span>
                                <span style="color:red" ng-show="updateForm.screens.$dirty && updateForm.screens.$invalid">
                                    <span>Scrren Ids are required.</span>
                                </span>
                            </div>

                            <div class="form-group has-feedback"
                                 ng-class="{ 'has-error' : (updateForm.template.$invalid && !updateForm.template.$pristine)
                                , 'has-success': (updateForm.template.$valid && !updateForm.template.$pristine)}">
                                <label>Template</label>
                                <ui-select name="template" multiple limit="1" ng-model="existingAd.templateName" theme="bootstrap" required=""
                                           close-on-select="true" ui-select-required>
                                    <ui-select-match>{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="template in ['A','B','C'] | filter:$select.search">
                                        Template {{template}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="glyphicon form-control-feedback" ng-class="{
                                    'glyphicon-ok':  (updateForm.template.$valid && !updateForm.template.$pristine),
                                    'glyphicon-remove':  (updateForm.template.$invalid && !updateForm.template.$pristine)}">
                                </span>
                                <span style="color:red" ng-show="updateForm.template.$dirty && updateForm.template.$invalid">
                                    <span>Template Name is required.</span>
                                </span>
                            </div>
                            <div style="height:45px"></div>
                            <button type="submit" class="btn btn-primary" ng-disabled="updateForm.$invalid">
                                <i class="fa fa-spinner fa-pulse" ng-show="changeSubmitButton"></i> Save
                            </button>
                            <button type="button" class="btn btn-primary"
                                    ng-click="existingAd.edit = !existingAd.edit; showLoaderForId = ''">Cancel</button>
                        </form>
                        <table class="table table-hover table-condensed" ng-hide="existingAd.edit">
                            <thead>
                            <tr>
                                <th>Message Name</th>
                                <th>Screens</th>
                                <th>Template</th>
                                <th>Duration</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="ad in adsToIterate">
                                <td>{{ad.msgName}}</td>
                                <td>{{ad.screensId}}</td>
                                <td>{{ad.templateName}}</td>
                                <td>{{ad.advTimer}}</td>
                                <td>{{ad.startDateTime}}</td>
                                <td>{{ad.endDateTime}}</td>
                                <td><button type="button" class="edit close" ng-click="editAd(ad)" uib-tooltip="Edit"><i
                                        ng-class="{'glyphicon glyphicon-edit': (showLoaderForId !== ad._id)
                                        , 'fa fa-spinner fa-spin': showLoaderForId === ad._id}"></i></button></td>
                                <td><button type="button" class="delete close" ng-click="deleteAd(ad)" uib-tooltip="Delete"><i
                                        ng-class="{'glyphicon glyphicon-trash': showLoaderForDeleteId !== ad._id
                                        , 'fa fa-spinner fa-spin': showLoaderForDeleteId === ad._id}"></i></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-warning" >
            <div class="box-header with-border" ng-click="Create = !Create" style="cursor: pointer;">
                <h3 class="box-title" style="font-family: 'Source Sans Pro',sans-serif;text-transform: initial; font-weight: 200;">Create</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" ><i ng-class="{'fa fa-minus': Create, 'fa fa-plus': !Create}"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div ng-show="Create" class="box-body slide-toggle">
                <div class="row">
                    <div class="col-md-12">
                        <form name="createForm" role="form" ng-submit="create(createForm.$valid)">

                            <div class="alert alert-danger" ng-hide="valid">
                                <button class="close" data-close="alert"></button>
                                <div ng-repeat="error in ValidationError">
                                    {{error.name}} on {{error.path}}: {{error.message}}
                                </div>
                            </div>

                            <div class="form-group has-feedback"
                                 ng-class="{ 'has-error' : (createForm.msgName.$invalid && !createForm.msgName.$pristine)
                                  , 'has-success': (createForm.msgName.$valid && !createForm.msgName.$pristine)}">
                                <label>Message Name</label>
                                <input type="text" name="msgName" class="form-control" placeholder="Enter Message Name" required=""
                                       ng-model="newAd.msgName" ng-pattern="/^[a-zA-Z0-9- ]*$/">
                                <span class="glyphicon form-control-feedback" ng-class="{
                                    'glyphicon-ok':  (createForm.msgName.$valid && !createForm.msgName.$pristine),
                                    'glyphicon-remove':  (createForm.msgName.$invalid && !createForm.msgName.$pristine)}">

                                </span>
                                <span style="color:red" ng-show="createForm.msgName.$dirty && createForm.msgName.$invalid">
                                    <span ng-show="createForm.msgName.$error.required">Message Name is required.</span>
                                    <span ng-show="createForm.msgName.$error.pattern">Do not use special character on Message Name please.</span>
                                </span>
                            </div>

                            <div class="form-group" >
                                <label>Message Data</label>
                                <button class="btn-xs btn-primary" type="button" ng-click="addCreateMsgDataInput()">add</button>
                                <button class="btn-xs btn-primary" type="button" ng-click="removeCreateMsgDataInput()">remove</button>

                                <div class="form-group has-feedback" ng-repeat="msgdata in newAd.msgData"
                                     ng-class="{ 'has-error' : (createForm.{{msgdata.name}}.$invalid && !createForm.{{msgdata.name}}.$pristine)
                                  , 'has-success': (createForm.{{msgdata.name}}.$valid && !createForm.{{msgdata.name}}.$pristine)}">


                                    <!--<input name="msgData" type="text" ng-model="newAd.msgData" class="form-control"
                                           placeholder="Enter Message Data" ng-model='msgData' ng-minlength="1"
                                           ng-maxlength="100">-->
                                    <input name="{{msgdata.name}}" type="text" class="form-control"
                                           placeholder="Enter Message Data" ng-model='msgdata.msgdata'
                                           ng-maxlength="100">
                                <span class="glyphicon form-control-feedback" ng-class="{
                                    'glyphicon-ok':  (createForm.{{msgdata.name}}.$valid && !createForm.{{msgdata.name}}.$pristine),
                                    'glyphicon-remove':  (createForm.{{msgdata.name}}.$invalid && !createForm.{{msgdata.name}}.$pristine)}">

                                </span>
                                <span style="color:red" ng-show="createForm.{{msgdata.name}}.$dirty && createForm.{{msgdata.name}}.$invalid">
                                    <span ng-show="createForm.{{msgdata.name}}.$error.maxlength">Message Data can't be over of 100 characters.</span>
                                </span>
                                </div>
                            </div>





                            <div class="form-group has-feedback"
                                 ng-class="{ 'has-error' : (createForm.duration.$invalid && !createForm.duration.$pristine)
                                  , 'has-success': (createForm.duration.$valid && !createForm.duration.$pristine)}">
                                <label>Duration</label>
                                <input name="duration" type="text" class="form-control"
                                       placeholder="Enter duration in seconds" required="" ng-model="newAd.advTimer"
                                       ng-pattern="/^[0-9]*$/">
                                <span class="glyphicon form-control-feedback" ng-class="{
                                    'glyphicon-ok':  (createForm.duration.$valid && !createForm.duration.$pristine),
                                    'glyphicon-remove':  (createForm.duration.$invalid && !createForm.duration.$pristine)}">
                                </span>
                                <span style="color:red" ng-show="createForm.duration.$dirty && createForm.duration.$invalid">
                                    <span ng-show="createForm.duration.$error.required">Duration is required.</span>
                                    <span ng-show="createForm.duration.$error.pattern">Duration must be a number</span>
                                </span>
                            </div>

                            <div class="form-group"
                                 ng-class="{ 'has-error' : (!DateTimeIsValid && DateTimeIsChosen)
                                  , 'has-success': (DateTimeIsValid && DateTimeIsChosen)}">
                                <div class="row">

                                    <div class="col-md-6">
                                        <label>Start Time</label>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" id="start-dropdown-create" role="button" data-toggle="dropdown" data-target="#"
                                               href="#">
                                                <div class="input-group">

                                                    <input type="text" class="form-control" data-ng-model="newAd.startDateTime" name="startDateTime"
                                                           placeholder="Enter start date and time" required="" >
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>

                                                </div>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="newAd.startDateTime"
                                                                data-datetimepicker-config="{ dropdownSelector: '#start-dropdown-create' ,minuteStep: 2}"
                                                                data-on-set-time="onTimeSet()"
                                                                />
                                            </ul>
                                        </div>
                                        <span style="color:red" ng-show="(!DateTimeIsValid && DateTimeIsChosen)">
                                            <span>Check again if the range is valid.</span>
                                        </span>
                                    </div>

                                    <div class="col-md-6">
                                        <label>End Time</label>

                                        <div class="dropdown">
                                            <a class="dropdown-toggle" id="end-dropdown-create" role="button" data-toggle="dropdown" data-target="#"
                                               href="#">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-ng-model="newAd.endDateTime" name="endDateTime"
                                                           placeholder="Enter end date and time" required=""><span
                                                        class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="newAd.endDateTime"
                                                                data-datetimepicker-config="{ dropdownSelector: '#end-dropdown-create' ,minuteStep: 2}"
                                                                data-on-set-time="onTimeSet()"/>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group has-feedback"
                                 ng-class="{ 'has-error' : (createForm.days.$invalid && !createForm.days.$pristine)
                                  , 'has-success': (createForm.days.$valid && !createForm.days.$pristine)}">
                                <label>Week Days</label>
                                <ui-select name="days" multiple ng-model="newAd.weekDays" theme="bootstrap" required=""
                                           close-on-select="false" ui-select-required>
                                    <ui-select-match>{{$item}}</ui-select-match>
                                    <ui-select-choices
                                            repeat="day in ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'] | filter:$select.search">
                                        {{day}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="glyphicon form-control-feedback" ng-class="{
                                    'glyphicon-ok':  (createForm.days.$valid && !createForm.days.$pristine),
                                    'glyphicon-remove':  (createForm.days.$invalid && !createForm.days.$pristine)}">
                                </span>
                                <span style="color:red" ng-show="createForm.days.$dirty && createForm.days.$invalid">
                                    <span>Days is required.</span>
                                </span>
                            </div>

                            <div class="form-group has-feedback"
                                 ng-class="{ 'has-error' : (createForm.screens.$invalid && !createForm.screens.$pristine)
                                  , 'has-success': (createForm.screens.$valid && !createForm.screens.$pristine)}">
                                <label>Screens</label>
                                <ui-select name="screens" multiple ng-model="newAd.screensId" theme="bootstrap" required=""
                                           close-on-select="false" ui-select-required>
                                    <ui-select-match>{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="screen in [1,2,3] | filter:$select.search">
                                        Screen {{screen}}
                                    </ui-select-choices>
                                </ui-select>

                                <span class="glyphicon form-control-feedback" ng-class="{
                                    'glyphicon-ok':  (createForm.screens.$valid && !createForm.screens.$pristine),
                                    'glyphicon-remove':  (createForm.screens.$invalid && !createForm.screens.$pristine)}">

                                </span>
                                <span style="color:red" ng-show="createForm.screens.$dirty && createForm.screens.$invalid">
                                    <span>Screen Ids are required.</span>
                                </span>
                            </div>

                            <div class="form-group has-feedback"
                                ng-class="{ 'has-error' : (createForm.template.$invalid && !createForm.template.$pristine)
                                , 'has-success': (createForm.template.$valid && !createForm.template.$pristine)}">
                                <label>Template</label>
                                <ui-select name="template" multiple limit="1" ng-model="newAd.templateName" theme="bootstrap" required=""
                                           close-on-select="true" ui-select-required>
                                    <ui-select-match>{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="template in ['A','B','C'] | filter:$select.search">
                                        Template {{template}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="glyphicon form-control-feedback" ng-class="{
                                    'glyphicon-ok':  (createForm.template.$valid && !createForm.template.$pristine),
                                    'glyphicon-remove':  (createForm.template.$invalid && !createForm.template.$pristine)}">
                                </span>
                                <span style="color:red" ng-show="createForm.template.$dirty && createForm.template.$invalid">
                                    <span>Template Name is required.</span>
                                </span>
                            </div>
                            <div style="height:45px"></div>
                            <button type="submit" class="btn btn-primary" ng-disabled="createForm.$invalid">
                                <i class="fa fa-spinner fa-pulse" ng-show="changeCreateButton"></i> Save
                            </button>

                        </form>

                    </div>
                </div>
            </div>

        </div><!-- /.box -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
