<div class="row">
  <div class="col-md-6">
    <div class="content-box-header" ng-click="collapse.byScreen = !collapse.byScreen">
      <div class="panel-title">
        Usage Statistics <small class="title-usage-field">By Screen</small>
      </div>
      <div class="panel-options">
        <i class="fa" ng-class="{ 'fa-chevron-right' : collapse.byScreen, 'fa-chevron-down' : !collapse.byScreen }"></i>
      </div>
    </div>
    <div class="content-box-large box-with-header box-with-chart" ng-hide="collapse.byScreen">

      <div d3-bars-chart bar-height="20" bar-padding="5" data="byScreen"></div>

    </div>
  </div>


  <div class="col-md-6">
    <div class="content-box-header" ng-click="collapse.byTemplate = !collapse.byTemplate">
      <div class="panel-title">
        Usage Statistics <small class="title-usage-field">By Template</small>
      </div>
      <div class="panel-options">
        <i class="fa" ng-class="{ 'fa-chevron-right' : collapse.byTemplate, 'fa-chevron-down' : !collapse.byTemplate }"></i>
      </div>
    </div>
    <div class="content-box-large box-with-header box-with-chart" ng-hide="collapse.byTemplate">

      <div d3-bars-chart bar-height="20" bar-padding="5" data="byTemplate"></div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="content-box-header" ng-click="collapse.clients = !collapse.clients">
      <div class="panel-title">
        Usage Statistics <small class="title-usage-field">Our Clients</small>
      </div>
      <div class="panel-options">
        <i class="fa" ng-class="{ 'fa-chevron-right' : collapse.clients, 'fa-chevron-down' : !collapse.clients }"></i>
      </div>
    </div>
    <div class="content-box-large box-with-header" ng-hide="collapse.clients">

      <ui-gmap-google-map center="map.center" zoom="map.zoom">
        <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" idkey="marker.id"></ui-gmap-marker>
      </ui-gmap-google-map>

    </div>
  </div>
  </div>
</div>
