

<ui-view></ui-view>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-show="$state.current.name === 'dashboard'">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style="font-family: 'Source Sans Pro',sans-serif;text-transform: initial; font-weight: 500;">
            Welcome to dashboard
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="main"> <i class="glyphicon glyphicon-home"></i>Home</a></li>
            <li class="active"><i class="fa fa-dashboard"></i> Dashboard</a></li>

        </ol>
    </section>

    <!-- Main content -->
    <section class="content" >
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-warning" id="CreateBox">
                <div class="box-header with-border">

                <div class="box-footer">
                    Please note that currently our dashboard includes the following sections: manage, statistics, a real-time demo.
                </div>
            </div><!-- /.box -->
        </div>

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<aside class="main-sidebar ">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="padding-top:0;margin-top:-40px">

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a ui-sref="dashboard">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>

            </li>

            <li class="treeview" ng-class="{'active': manageSection}">
                <a href="#" ng-click="navclick('manage')">
                    <i class="glyphicon glyphicon-cog"></i>
                    <span>Manage</span>
                    <i  class="fa fa-angle-left pull-right"></i>
                </a>
                <ul  class="treeview-menu slide-toggle" ng-class="{'menu-open': manageSection}" ng-show="manageSection">
                    <li><a ui-sref=".manage"><i class="fa fa-circle-o"></i> Create</a></li>
                    <li><a ui-sref=".manage"><i class="fa fa-circle-o"></i> Search</a></li>
                    <li><a ui-sref=".manage"><i class="fa fa-circle-o"></i> Edit/Remove</a></li>
                </ul>
            </li>
            <li class="treeview" ng-class="{'active': staticsSection}" >
                <a href="#" ng-click="navclick('stats')">
                    <i class="glyphicon glyphicon-stats"></i>
                    <span>Statics</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul  class="treeview-menu slide-toggle" ng-class="{'menu-open': staticsSection}" ng-show="staticsSection">
                    <li><a ui-sref=".stats"><i class="fa fa-circle-o"></i> General</a></li>
                </ul>
            </li>
            <li class="treeview" ng-class="{'active': demoSection}">
                <a href="#" ng-click="navclick('demo')">
                    <i class="glyphicon glyphicon-eye-open"></i> <span>Demo</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul  class="treeview-menu slide-toggle" ng-class="{'menu-open': demoSection}" ng-show="demoSection">
                    <li><a ui-sref=".demo"><i class="fa fa-circle-o"></i>Screen - 1</a></li>
                    <li><a ui-sref=".demo"><i class="fa fa-circle-o"></i>Screen - 2</a></li>
                    <li><a ui-sref=".demo"><i class="fa fa-circle-o"></i>Screen - 3</a></li>
                </ul>
            </li>


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>